
.cartcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
}

.itemdetails {
    flex: 1;
    margin: 0 0 0.5rem 0;
    color: #363636;
}

.price {
    font-weight: bold;
    color: #8a2b06;
    display: flex;   
    align-items: center;
}

.price h4{
    margin-top: 10px;
}

.price span {
    background-color: #8a2b06; 
    color: white; 
    padding: 5px 10px; 
    margin-bottom: 0px;
    border-radius: 20px; 
    font-weight: bold; 
    margin-left: 20px;
    margin-top: 10px;
}
  

.incdec {
    display: flex;
    margin: 0.25rem;
}

.incdec button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
}

.incdec button:hover,
.incdec button:active {
    background-color: #8a2b06;
    color: white;
}